.infinite-cards {
  height: 400px;
  width: 400px;
  display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;

 .buttons {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
 }

  .card {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 300px;
    width: 260px;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: grab;
    overflow: hidden;

   

    p {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
  }
}