@import "../../app.scss";

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  // background-image: url("background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
  position: relative;

          .test {
              width: 100%;
              height: 100vh;
              position: absolute;
              background-color: #4b1794;
              justify-content: center;
              align-items: center;
              display: flex;
              clip-path: circle(100% at 30% 50%);
              @include mobile {
                  top: 0;
                  
                  height: 80vh;
              
                }
          
          
            }
          
            .test1 {
              width: 90%;
              height: 100vh;
              position: absolute;
              background-color: #e74eff59;
              justify-content: center;
              align-items: center;
              display: flex;
              z-index: 1;
              left: 0;
              clip-path: circle(80% at 30% 50%);

              @include mobile{
                top:0;
                clip-path: circle(63% at 15% 50%);
                height: 80vh;
                
              }
          
          
            }
          
            .test2 {
              width: 80%;
              height: 100vh;
              position: absolute;
              background-color: rgb(232, 83, 245);
              justify-content: center;
              align-items: center;
              display: flex;
              z-index: 2;
              left: 0;
          
              clip-path: circle(70% at 30% 50%);
                @include mobile {
                    top: 0;
                    clip-path: circle(55% at 12% 50%);
                    height: 80vh;
                
                  }
                
            }

  .circle {
  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #4b1794;
      position: absolute;
      left: 0px;
      width: 34%;
      height: 50%;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
      z-index: 3;

      @include mobile{
        width: 50%;
        height: 20%;
        left: 0;
        right: 0;
        top:15%;
       
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
        position: absolute;
         
          margin: auto;
      }
  
    }

    @include mobile {
        display: flex; 
        height: fit-content;
        flex-direction: column;
        background-image: none;
        justify-content:center; 
        align-items: center;
        background-image: url("bg1.png");;
        background-position:left 340px ;
      }

      .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 100px;
        gap: 25px;

        @include mobile{
          flex-direction: column;
          gap: 0;
          padding: 0px;
        }


        .textContainer {
          width: 100%;
          display: flex;   
          justify-content: center;
          align-items: center;
          padding: 50px;
          gap: 16px;
          position: relative;
          

    @include mobile {
        display: flex;
        margin-left: 0;
        left:0;
        width: 100%;
        gap: 140px;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
        height: fit-content;
        flex-direction: column;
        padding: 0;
      }
    
   
      .text {
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 4;
       
       


        @include mobile{
          height: 40vh;
          justify-content:center;
          align-items: center;
          
        
        }

        .text-line {
          width: 100%;
          height: 100px;
         

          @include mobile{
            height: 60px;   
          }

          .text-holder {
            display: flex;
            margin: 0px;
            justify-content: center;
            align-items: center;
            
          }
        }
      }

    h1{
      display: flex;
      color: #E385B5;
      font-weight: 800;
      height: 100px; 
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(100px, 8vh, 400px);
      line-height: clamp(800px, 8vh, 1200px);
      z-index: 5;
  

      @include mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          font-size: 60px;
          height: 50px;
          margin: 0px;   
        }
    }

    p{
      width: 500px;
      color: #4b1794;
      font-weight: 800;
      line-height: 30px;
    font-size: clamp(30px, 4vh, 90px);
    line-height: clamp(30px, 4vh, 90px);
      cursor: pointer;
      

      @include mobile {
          display: flex;
          text-align: center;
          font-weight: 800;
          width: 300px;
          font-size: 15px;
         
        }
    }
    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      gap: 20px;
      width: 150px;
      height: 50px;
      background-color: #4b1794;
      border-radius: 15px;
      position: relative;
      z-index: 1;

      img {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

.row{
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  z-index: 5;
  
  
   @include mobile{
    flex-direction: column;
    justify-content: center;
      align-items: center;
   }
}




  .sliderText {
    position: absolute;
    font-size: 30vh;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    bottom: -20%;
    opacity: 0.15;
    white-space: nowrap;
    z-index: 2;

    @include mobile {
      position: absolute;
      bottom:0;
      font-size: 40vh;
      }
  }


  .imageContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 50%;
   
   z-index: 3;


    img {
     
      width: 400px;
      height: 100vh;
      object-fit: contain;
      
      
      

      @include mobile {
          display: flex;
          width: 300px;
          height: 50vh;
          align-items: center;
          justify-content: center;
          object-fit: contain; 
          padding-right: 60px;   
        }
    }
  }
}
}