@import "../../app.scss";

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;

    @include mobile {
        display: flex; 
        height: fit-content;
        flex-direction: column;
        background-image: none;
        justify-content:center; 
        align-items: center;
        background-image: url("bg1.png");;
        background-position:left 340px ;
      }
 
  .textContainer {
    margin-left: 50px;
    display: flex;
    max-width: 50%;
    width: 100%;
    position: relative;
    left: 10%;
    gap: 100px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

    @include mobile {
        display: flex;
       margin-left: 0;
       left:0;
        width: 100%;
        gap: 140px;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
        height: fit-content;
        flex-direction: column;
      }
   
      .text {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 200px;
        

        @include mobile{
          height: 0vh;
          margin-top: 100px;
          justify-content:center;
          align-items: center;
          z-index: -1; 
        }

        .text-line {
          width: 100%;
          height: 100px;
          justify-content: center;
          align-items: center;

          @include mobile{
            height: 60px;
            
          }

          .text-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          
          }
        }

      }

    h1{
      display: flex;
      color: #E385B5;
      font-weight: 800;
      margin: 0px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 100px;
  

      @include mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          font-size: 60px;
          height: 50px;
          margin: 0px;
          
            
        }
    }

    p{
      width: 500px;
      color: #4b1794;
      font-weight: 800;
      line-height: 30px;
      font-size: 30px;
      cursor: pointer;
      

      @include mobile {
          display: flex;
          text-align: center;
          font-weight: 800;
          width: 300px;
          font-size: 15px;
         
        }
    }
    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      gap: 20px;
      width: 150px;
      height: 50px;
      background-color: #4b1794;
      border-radius: 15px;
      position: relative;
      z-index: 1;

      img {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

.row{
  display: flex;
  flex-direction: column;
  
   @include mobile{
    flex-direction: column;
    justify-content: center;
      align-items: center;
   }
}

  .scrollContainer {
    width: 60px;
    height: 60px;
    margin-top: 12px;
    
   
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      color: #4b1794;
     
    }
  }


  .sliderText {
    position: absolute;
    font-size: 30vh;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    bottom: -20%;
    opacity: 0.15;
    white-space: nowrap;

    @include mobile {
      position: absolute;
        bottom:0;
        font-size: 40vh;
      }
  }


  .imageContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 50%;
   position: relative;
   z-index: 1;


    img {
     
      width: 800px;
      height: 100vh;
      padding-right: 100px;
      object-fit: contain;
      margin-left: 20px;
      
      

      @include mobile {
          display: flex;
          width: 400px;
          height: 50vh;
          align-items: center;
          justify-content: center;
          object-fit: contain;      
        }
    }

  }

  

}