@import "../../app.scss";

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("background2.png");
  background-size: contain;
  justify-content: space-between;
  align-items: center;
  position: relative;

    @include mobile {
        display: flex;
        
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
      }
 
  .textContainer {
    margin-left: 50px;
    display: flex;
    max-width: 50%;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    

    @include mobile {
        display: flex;
        margin-left: 0;
          width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        height: fit-content;
        flex-direction: column;
      }
   

    h1{
      display: flex;
      color: #4b1794;
      font-weight: 800;
      width: 800px;
      height: 100px;
      margin: 0px;
      font-size: 80px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          font-size: 60px;
            height: 50px;
            margin: 0px;
            font-size: 30px; 
        }
    }

    p{
      width: 500px;
      color: #eb4687;
      font-weight: 800;
      line-height: 30px;
      font-size: 30px;
      cursor: pointer;

      @include mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          width: 300px;
          font-size: 15px;
         
        }
    }
    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      gap: 20px;
      width: 150px;
      height: 50px;
      background-color: #4b1794;
      border-radius: 15px;
      z-index: 2;

      img {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  .scrollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 160px;
    height: 60px;
    position: absolute;
    top: 76%;
    left: 25px;
    transform: translate(-50%, -50%);
    z-index: 2;

    img {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }



  .sliderText {
    position: absolute;
    font-size: 30vh;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    bottom: -20%;
    opacity: 0.15;
    white-space: nowrap;
  }


  .imageContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 50%;
   position: relative;
   z-index: 1;
 
   

    img {
     
      width: 800px;
      height: 100vh;
      padding-right: 100px;
      object-fit: contain;
      margin-left: 20px;
      
      

      @include mobile {
          display: flex;
          width: 400px;
          height: 50vh;
          align-items: center;
          justify-content: center;
          object-fit: contain;
          
          
        }
    }

  }

  

}