@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 65px;

    @include mobile {
      
      text-align: center;
      align-items: center;
      
    }

    h1 {
      font-size: 70px;
      line-height: 68px;

      @include mobile {
        font-size: 36px;
          height: 200px;
          width: 100px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          order: -1;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    padding: 65px;
    width:600px;
    position: relative;
    
    @include mobile {
      padding: 50px;
      width: 100%;
      order: -2;
    }


    .phoneSvg {
      stroke: #4b1794;
      position: absolute;
      margin: auto;
      z-index: -1;

      svg{
        @include mobile{
          width: 200px;
          height: 200px;
        }
      }
      @include mobile{
        margin: 0;
        display: flex;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: #4b2086;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
