.blog{
  display: flex;
  

 

  .wrapper{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    background-color: #ebf3fe;
    justify-content: space-between;
    position: relative;
   
  .view-all-button {
     
      background-color: #ed42f3;
      color: #fff;
      width: 150px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      text-decoration: none;
      font-size: 16px;
      rotate: 90deg;
      
    }

    span{
      position: absolute;
      width: 100px;
      height: 100px;
      top: 10%;
      left: 5%;
      z-index: 4;
      h1{
        font-size: 100px;
        line-height: 85px;
      }
    }
    .image-container{
      display: flex;
      align-items: flex-end;
     width: 50%;
      height: 100%;
      img{
        width: 100%;
        height:100% ;
        object-fit: cover;
      }
    }
    
    .blog-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 25px;
      width: 70%;
      height: 100%;
      margin-top: 45px;


        
      .r1{
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
      .r2 {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
      .blog{
        width: 300px;
        height: 300px;
        display: flex;
        
          background: #e0e0e0;
          box-shadow: 5px 5px 30px #a1a1a1,
            -5px -5px 30px #ffffff;
 
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: none;
        border-radius: 10px;
      
        .blog-image{
          display: flex;
          align-items: center;
          width: 300px;
          height: 150px;
          border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-Right-radius: 10px;
           
          }
        }
        .blog-content{
          background-color: whitesmoke;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          border-bottom-left-radius: 10px;
          border-bottom-Right-radius: 10px;
          h3{
            font-size: 19px;
            padding-left: 10px;
          }
          h4{
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            line-height: 20px;
            font-size: 14px;
          }
        }
      }

    }

  }
}